<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.accounts.mapper.UserMapper">
    <select id="getByName" parameterType="String" resultType="com.example.accounts.bean.UserBean">
        SELECT * FROM user WHERE name = #{name}
    </select>
    <insert id="insert" parameterType="com.example.accounts.bean.UserBean">
        INSERT INTO user(name, password, budget_for_month) VALUES (#{name}, #{password}, #{budgetForMonth})
    </insert>
    <update id="update" parameterType="com.example.accounts.bean.UserBean">
        UPDATE user set name = #{name}, password = #{password}, budget_for_month = #{budgetForMonth} where id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM user WHERE id = #{id}
    </delete>
</mapper>