<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.accounts.mapper.RecordMapper">
    <select id="getById" parameterType="int" resultType="com.example.accounts.bean.RecordBean">
        SELECT * FROM record WHERE id = #{id}
    </select>
    <insert id="insert" parameterType="com.example.accounts.bean.RecordBean"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO record(id, user_id, amount, date, label_id, remarks)
         VALUES (#{id}, #{userId}, #{amount}, #{date}, #{labelId}, #{remarks})
    </insert>
    <update id="update" parameterType="com.example.accounts.bean.RecordBean">
        UPDATE record set user_id = #{userId}, amount = #{amount}, date = #{date}, label_id = #{labelId}, remarks = #{remarks} where id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM record WHERE id = #{id}
    </delete>
</mapper>